<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArduinoUtilities.Settings.SetPinModeStateCodes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ArduinoUtilities.Settings.CommandCommunicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ArduinoUtilities.Settings.ResponseCommunicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ArduinoUtilities.Settings.CommunicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ArduinoUtilities.Settings.CommandCodes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ArduinoUtilities.CommunicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArduinoUtilities.Settings.SetPinModeStateCodes>
            <setting name="OutputStateCode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InputStateCode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="InputPullupStateCode" serializeAs="String">
                <value>3</value>
            </setting>
        </ArduinoUtilities.Settings.SetPinModeStateCodes>
        <ArduinoUtilities.Settings.CommandCommunicationSettings>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
        </ArduinoUtilities.Settings.CommandCommunicationSettings>
        <ArduinoUtilities.Settings.ResponseCommunicationSettings>
            <setting name="StateCodeLength" serializeAs="String">
                <value>3</value>
            </setting>
        </ArduinoUtilities.Settings.ResponseCommunicationSettings>
        <ArduinoUtilities.Settings.CommunicationSettings>
            <setting name="CommandCodeLength" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MappingCodeLength" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StateCodeLength" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
        </ArduinoUtilities.Settings.CommunicationSettings>
        <ArduinoUtilities.Settings.CommandCodes>
            <setting name="DigitalPinWriteCommandCode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SettingCommandCode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AnalogPinWriteCommandCode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SetPinModeCommandCode" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SetStepper1CommandCode" serializeAs="String">
                <value>30</value>
            </setting>
        </ArduinoUtilities.Settings.CommandCodes>
        <ArduinoUtilities.CommunicationSettings>
            <setting name="CommandCodeLength" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MappingCodeLength" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StateCodeLength" serializeAs="String">
                <value>1</value>
            </setting>
        </ArduinoUtilities.CommunicationSettings>
    </applicationSettings>
</configuration>